
@media screen and (min-width: 768px) {
    #header-ul{
        position: static;
        font-size: 12px;
        letter-spacing: normal;
    }
    .li:hover{
        color:hsl(0, 94%, 66%);
        cursor: pointer;
    }
    .login-btn{
        width:fit-content;
        color: black;
        font-size: 12px;
        font-weight: light;
        padding: 0.5rem 1.3rem;
        background: hsl(0, 94%, 66%);
        color:white;
        border:none
    }
    .login-btn:hover{
        color: hsl(0, 94%, 66%);
        border:1px solid hsl(0, 94%, 66%);
    }
}
@media (min-width: 992px){
    #sec-1-content-div {
        /* border: 2px solid red; */
        max-width: 35rem;
        padding: 0;
    }
    #sec-1-content-div > h1{
        font-size: 3rem;
    }
    .features{
        max-width: 34rem;
    }
    .sec-2-ul{
        list-style: none;
    }
    #sec-2-content-div{
        max-width: 31rem;
    }
    #sec-3-content-div{
        max-width: 32rem;
    }
    #card-2{
        position: relative;
        top: 2.5rem;
    }
    #card-3{
        position: relative;
        top: 5rem;
    }
    #section-4{
        max-width: 33rem;
    }
    .sec-4-h1{
        font-size: 1.5rem;
    }
    #section-5 > div{
        max-width: 30rem;
    }
    #section-5 > form{
        /* border: 2px solid red; */
        max-width: 30rem;
        font-size: 15px;
    }
}
@media (min-width: 1400px){
    .img-top-div{
        right: -8rem;
    }
    .img-mid-div{
        left: -8rem;
    }
}